<!-- <div class="row">
    <div class="col-xs-10">
        <app-shopping-edit>

        </app-shopping-edit>
        <p>The List</p>
        <hr/>
       <ul class="list-group">
           <a   href="" class="list-group-item" 
           style="cursor: pointer"
           *ngFor="let ingredient in ingredients"
           >{{ingredient.name}}{{ingredient.amount}</a>
       </ul>
    </div>
</div> -->
<div class="row">
    <div class="col-xs-10">
      <app-shopping-edit (ingredientAdded)= "onIngredientAdded($event)"></app-shopping-edit>
      <hr />
      <p>The list</p>
      <ul class="list-group">
        <a
          href=""
          class="list-goup-item"
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients"
        >
          {{ ingredient.name }}({{ ingredient.amount }})
        </a>
      </ul>
    </div>
  </div>
  